.hide{
    /*display:none;*/
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

.show{
    /*display:block;*/
    max-height:800px;
    transition: max-height 1s ease-in;
}

h2{
    font-size:30px;
    width:22%;
    margin-left: auto;
    margin-right: auto;
}

.boton_mas{
    background: #17a68a;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-family: cursive;
}

.boton_mas:hover{
    background: #1abc9c;
    color: #000;
}

.contenedor_content{
    width:85%;
    margin-left: auto;
    margin-right: auto;
    padding-top:5px;
    padding-bottom:10px;
    text-align:justify;
    
}

#img{
    display:block;
    object-fit: cover;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#tema_com{
    display: block;
    width:20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#texto{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
